<% include partials/head.ejs %>
<% include partials/header.ejs %>

<main>
  <h2>Mijn account</h2>
  <div class="img-container">
    <img src="<%if(user.userPhoto){%><%='/image/profilepic/'+user.userPhoto%><%}else{%><%='/image/default.png'%><%}%>" alt="Profile picture">
  </div>
  <h3> <%= user.firstname + ' ' + user.lastname %> </h3>
  <p> Leeftijd: <%= user.age %> </p>
  <p> Email: <%= user.email %> </p>
  <p> Woonplaats: <%= user.place %> </p>
  <p> Dagen vrij: </p>
  <% var days = user.preference.days
  for (var i = 0; i < days.length; i++) { %>
    <li><%= days[i] %></li>
  <% } %>
  <p> Ik drink liever: <%= user.preference.drink %></p>

  <a href="/removeUser" class="btn">Verwijder account</a>
</main>
